@import "./base";

@import "./components/buttons";
@import "./components/carousel-button";
@import "./components/form";
@import "./components/modal";
@import "./components/pagination";
@import "./components/products-card";
@import "./components/swiper-btn";
@import "./components/whyus-card";

@import "./layouts/_findus-section";
@import "./layouts/footer-section";
@import "./layouts/header";
@import "./layouts/hero-section";
@import "./layouts/products-section";
@import "./layouts/transform-section";
@import "./layouts/whyus-section";

@import "./utils/container";
@import "./utils/links";
@import "./utils/titles";
@import "./utils/utils";
@import "./utils/variables";
