.link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: var(--color-primary-darkblue);
  transition: all 0.1s linear;

  &:hover {
    color: var(--color-primary-blue);
    font-weight: 700;
  }
}
