.title {
  font-family: "Play", sans-serif;
  font-size: 64px;
  font-weight: 600;
  text-align: center;
  line-height: 100%;
  color: var(--color-primary-darkblue);

  @media screen and (max-width: $bp-desktop) {
    font-size: 32px;
    font-weight: 500;
  }
}

.title-accent {
  color: var(--color-primary-blue);
}
