.visually-hidden {
  position: absolute;
  left: -10000px;
  right: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.background {
  background-image: url(/images/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
