:root {
  --color-primary-white: #fff;
  --color-primary-blue: #2b7fff;
  --color-primary-darkblue: #011c44;
  --color-secondary-grey: #747272;
  --color-secondary-darkgrey: #4a4a4a;
  --color-secondary-darkblue: #011f4a;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
