.button {
  color: var(--color-primary-white);
  padding: 16px 32px;
  background-color: var(--color-primary-blue);
  border: 2px solid var(--color-primary-blue);
  border-radius: 32px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.1s linear;

  &:hover {
    background-color: transparent;
    color: var(--color-primary-darkblue);
  }
}
