.carousel-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 0;
  width: 44px;
  height: 44px;
  border: 1px solid var(--color-primary-darkblue);
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  transition: all 0.1s linear;

  @media screen and (max-width: $bp-desktop) {
    display: none;
  }

  &.next {
    transform: rotate(180deg);
  }

  & svg {
    width: 16px;
  }

  &:hover {
    background-color: var(--color-primary-blue);
    fill: var(--color-primary-white);
    border-color: var(--color-primary-white);
  }
}
