.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 16px 24px;
  background-color: #fff;
  transform: translate(100%);
  transition: transform 0.3s;
  z-index: 4;

  &.is-open {
    transform: translate(0);
  }

  &__btn-close {
    position: absolute;
    top: 16px;
    right: 20px;
    border: none;
    background: transparent;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  &__logo {
    margin-bottom: 32px;
  }

  &__nav li {
    margin-bottom: 16px;
  }

  &__social {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
