.whyus-card {
  width: 316px;
  height: 180px;
  background-color: var(--color-primary-white);
  border-radius: 32px;
  text-align: center;
  padding: 24px 32px;
  box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);

  &__icon {
    margin: 0px auto 8px auto;
  }
}
