.findus {
  padding: 48px 0px;
}

.findus-title {
  margin-bottom: 48px;
}

.findus-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;

  &__map {
    height: 100%;
    flex-grow: 1;
  }

  &__form {
    flex-grow: 1;
    padding: 48px 56px;
    text-align: center;
    background-color: var(--color-primary-darkblue);
    color: var(--color-primary-white);
    border-radius: 32px;
  }
}

.findus-map {
  width: 605px;
  height: 480px;
  border: none;
  border-radius: 32px;
}
