.findus {
  padding: 48px 0px;

  @media screen and (max-width: $bp-desktop) {
    padding: 20px 0px;
  }
}

.findus-title {
  margin-bottom: 48px;

  @media screen and (max-width: $bp-desktop) {
    margin-bottom: 24px;
  }
}

.findus-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;

  @media screen and (max-width: $bp-desktop) {
    gap: 24px;
  }

  &__map {
    height: 100%;
    flex-grow: 1;
  }

  &__form {
    flex-grow: 1;
    padding: 48px 56px;
    text-align: center;
    background-color: var(--color-primary-darkblue);
    background-image: url(../images/form-background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-primary-white);
    border-radius: 32px;

    @media screen and (max-width: $bp-desktop) {
      padding: 42px 24px;
    }
  }
}

.findus-map {
  width: 605px;
  height: 480px;
  border: none;
  border-radius: 32px;

  @media screen and (max-width: $bp-desktop) {
    width: 100%;
    height: 232px;
  }
}
