.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 32px 0px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);

  @media screen and (max-width: $bp-desktop) {
    padding: 16px 0px;
  }

  &__container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
  }

  &__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 56px;
    flex-grow: 1;

    @media screen and (max-width: $bp-desktop) {
      display: none;
    }
  }

  &__menu-social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
    flex-grow: 1;

    @media screen and (max-width: $bp-desktop) {
      display: none;
    }
  }

  &__burger {
    display: none;

    @media screen and (max-width: $bp-desktop) {
      display: block;
      width: 24px;
      height: 24px;
      padding: 0;
      border: none;
      background-color: transparent;
    }
  }
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
