.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0px;

  &__nav {
    display: flex;
    justify-content: space-around;
    gap: 56px;
  }

  &__social {
    display: flex;
    justify-content: space-around;
    gap: 32px;
  }
}
