.products {
  padding: 48px 0px;

  @media screen and (max-width: $bp-desktop) {
    padding: 20px 0px;
  }
}

.products-title {
  margin-bottom: 48px;

  @media screen and (max-width: $bp-desktop) {
    margin-bottom: 24px;
  }
}

.products-section__slider {
  display: flex;
  gap: 30px;
  align-items: center;
}

.products-section__container {
  overflow: hidden;
}

.products-section__list {
  margin-bottom: 32px;
}
