.products {
  padding: 48px 0px;
}

.products-title {
  margin-bottom: 48px;
}

.products-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border: 1px solid var(--color-primary-darkblue);
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    fill: #000;
    transition: all 0.1s linear;

    &:hover {
      border-color: var(--color-primary-white);
      background-color: var(--color-primary-blue);
      fill: var(--color-primary-white);
    }

    &.next {
      transform: rotate(180deg);
    }
  }
}

.products-container__cards {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.products-card {
  position: relative;
  width: 344px;
  height: 456px;
  overflow: hidden;
  border-radius: 4px 120px 4px 120px;
}

.products-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
