.products {
  padding: 48px 0px;
}

.products-title {
  margin-bottom: 48px;
}

.products-section__slider {
  display: flex;
  gap: 30px;
  align-items: center;
}

.products-section__container {
  overflow: hidden;
}

.products-section__list {
  margin-bottom: 32px;
}
