.transform {
  padding: 150px 0px;
}

.transform-container {
  display: flex;
  justify-content: space-between;
}

.transform-title {
  font-family: "Play", sans-serif;
  max-width: 530px;
  font-size: 64px;
  font-weight: 700;
  line-height: 100%;
  color: var(--color-primary-darkblue);
  margin-bottom: 40px;

  & .accent {
    color: var(--color-primary-blue);
  }
}

.transform-text {
  max-width: 710px;
  font-size: 22px;
  font-weight: 400;
  color: var(--color-primary-darkblue);
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }

  & .accent {
    font-weight: 600;
  }
}
